

body {
  background-color: #111184;
  color: white;
}

p {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-family: 'Alfa Slab One', sans-serif;
  font-weight: 100;
}

h3 {
  font-family: 'Alfa Slab One', sans-serif;
  font-weight: 30;
}

a:link {
  color: green;
  background-color: transparent;
}