

body {
  background-color: #B6D0E2;
  font-display: ;
}

p {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-family: 'Alfa Slab One', sans-serif;
  font-weight: 100;
}

h3 {
  font-family: 'Alfa Slab One', sans-serif;
  font-weight: 30;
}